doctype html
html(lang="zh-Hant-TW")
	-
		const varOj = {
				"title": "半導體E187設備全生命週期防護最佳實踐",
				"name": "TXOne_20220706",
				"sign": "https://www.digitimes.com.tw/OnLine/DataInput.asp?ProdGroup=056AB0628-0",
				"sign2": "https://www.digitimes.com.tw/OnLine/query.asp?ProdGroup=056AB0628-0"
			},
			secAr = [
				["active", "活動介紹"],
				["agenda", "議程內容"],
				["company", "講師陣容"]
			]

	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title", content= varOj.title)
		meta(property="og:type", content="article")
		meta(property="og:url", content= "https://www.digitimes.com.tw/seminar/"+varOj.name+"/")
		meta(property="og:image", content= "https://www.digitimes.com.tw/seminar/"+varOj.name+"/img/d_kv.png")
		meta(property="og:site_name", content="DIGITIMES")
		meta(property="og:description", content="報名參加TXOne Netsworks「半導體E187設備全生命週期防護最佳實踐」線上研討會，瞭解如何在設備入廠、設備安裝、設備營運和設備維護的一系列資產生命週期安全框架中，落實SEMI E187半導體設備資安標準。")
		//[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]
		
		title= varOj.title

		//- link(rel="shortcut icon", href="favicon.ico")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
		- const d = new Date(), _date = ""+(d.getMonth()+1)+d.getDate()+d.getHours()+d.getMinutes();

		link(rel='stylesheet' href='style.css?v='+_date)

		//- Google Analytics
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7422658-6']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		
		.g_fixed.fix_aside
			a.fx_item.is_primary(href=varOj.sign, target="_blank")
				.in_wrap.txt
					span 立即報名
			.fx_item.js_scroll_top
				.in_wrap.ic_top
					.ic

		.g_header.sticky-top
			.header_wrap
				.menu_trigger.d-lg-none
					button.menu_btn
						span.icon(class="navbar-toggler-icon")

				.nav_area
					.nav_cnt
						each a in secAr
							.nav_item
								a.nav_link.js_page_scroll(href=`#${a[0]}`)= a[1]
						.nav_item
							a.nav_link(href=varOj.sign, target="_blank") 立即報名
						.nav_item
							a.nav_link(href=varOj.sign2, target="_blank") 報名查詢

		.g_kv
			.desktop.d-none.d-lg-block
				.bg
				.content
					.logo#aos1(data-aos="fade-up" data-aos-duration="1000")
						img.img-fluid(src="img/logo.png")
					.t1(data-aos="fade-up" data-aos-duration="800" data-aos-delay="600")
						.t1a.d-inline-block 半導體
						.t1b.d-inline-block E187
					.t2(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1000")
						div 設備全生命週期防護
						div 最佳實踐
					.date(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1400")
						img.img-fluid(src="img/date.png")
					.slogan(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1800")
						img.img-fluid(src="img/slogan.png")
			
			.mobile.d-lg-none
				img.img-fluid(src="img/mkv.jpg")

		
		section.sc_intro(id= secAr[0][0])
			.container.main_sc
				.intr_cnt
					p#aos2(data-aos="fade-up", data-aos-duration="800")
						|近年來企業遭受惡意程式攻擊的案例已司空見慣，但若攻擊發生在先進製造場域則對企業營運影響甚鉅。以半導體產業為例，由於其高度倚賴自動化生產且經濟價值高，故一直面臨著高可用性、高安全性、高品質的壓力，更是許多駭客覬覦的目標。2021年6月底，SEMI臺灣資安委員會宣布成立，並聚焦於提升產業上下游的整體安全，以構建具韌性的供應鏈，同時促進產業提升資通安全意識及了解其重要性。

					p(data-aos="fade-up", data-aos-duration="800", data-aos-delay="400", data-aos-anchor="#aos2") 
						|本次研討會將針對2022年1月
						b SEMI全球首個半導體設備資通安全標準-- SEMI E187
						|，提供基於OT零信任安全策略，如何在
						b 設備入廠、設備安裝、設備營運和設備維護
						|的一系列
						b 資產生命週期安全框架
						|中，
						b 落實SEMI E187半導體設備資安標準
						|。同時邀請半導體大廠分享實務上如何有效評估供應鏈網路安全態勢，透過精采的產官學研專家共享經驗、戰略，協助邁向智慧製造之業者與相關設備供應商超前佈署，建立安全可信賴供應鏈。誠摯地邀請所有產業界夥伴參與，豐富精彩的內容，包含：
					ul
						li(data-aos="fade-up", data-aos-duration="800", data-aos-delay="800", data-aos-anchor="#aos2")
							|建構有效評估半導體供應鏈資安態勢
						li(data-aos="fade-up", data-aos-duration="800", data-aos-delay="1000", data-aos-anchor="#aos2")
							|SEMI E187所需要的參考架構及解決方案
						li(data-aos="fade-up", data-aos-duration="800", data-aos-delay="1200", data-aos-anchor="#aos2")
							|專家座談共享實務經驗與戰略


				.cta_wrap(data-aos="fade-up", data-aos-duration="800", data-aos-delay="1200", data-aos-anchor="#aos2")
					a.primary_cta(href=varOj.sign, target="_blank")
						span 立即報名
						img(src="img/ui/right.svg")

				

		.g_main
			-
				const agdAr = [
					{
						"t": "13:30-14:00"
						,"tpc": "來賓報到"
					}
					,{
						"t": "14:00-14:05"
						,"tpc": "開場致詞"
						,"spk": {
							"n": ""
							,"j": "工業局"
						}
					}
					,{
						"id": "agd1"
						,"t": "14:05-14:20"
						,"tpc": "Semi supply chain issue or insights"
						,"spk": {
							"n": "卓傳育 博士"
							,"j": "工業技術研究院資通所組長"
						}
					}
					,{
						"id": "agd2"
						,"t": "14:20-14:50"
						,"tpc": "採取資產生命週期安全框架進行SEMI E187標準導入"
						,"spk": {
							"n": "劉大川"
							,"j": "TXOne首席解決方案架構師"
						}
					}
					,{
						"id": "agd3"
						,"t": "14:50-15:30"
						,"tpc": "半導體專家座談"
						,"spk": {
							"ss": true
						}
					}
					,{
						"t": "15:30-15:40"
						,"tpc": "Live Q&A"
					}
				]
			section.sc_agenda(id= secAr[1][0])
				.patten
				.container.main_sc
					.sc_title#aos3(data-aos="fade-up", data-aos-duration="800")
						.tit= secAr[1][1]
					.agd_cnt
						.ag_table(data-aos="fade-up", data-aos-duration="800" data-aos-delay="600", data-aos-anchor="#aos3")
							each x,i in agdAr
								if x.spk 
									.tr
										.td.td_time
											.time= x.t
										.td.td_topic
											.tpc= x.tpc
										if x.spk.ss
											.td.td_speaker
												.line1
													.k 主持人
													.spk
														.n 李育全
														.j TXOne 業務營運總監
												.line2
													.k 與談人
													.spk
														.n 謝續平
														.j 國立陽明交通大學教授
													.spk
														.n 工業局 (邀約中)
													.spk
														.n 台積電 (邀約中)
													.spk
														.n 力積電 (邀約中)
													.spk
														.n Bright Wu
														.j 台灣韋萊韜悅資深協理
										else
											.td.td_speaker
												.spk
													.n= x.spk.n
													.j= x.spk.j
								else
									.tr.tr_soft
										.td.td_time
											.time= x.t
										.td.td_topic
											.tpc= x.tpc
				-
					const spkAr = [
						{
							"s": ""
							,"n": ""
							,"j": "工業局"
						}
						,{
							"s": "spk2"
							,"n": "卓傳育 博士"
							,"j": "工業技術研究院資通所組長"
						}
						,{
							"s": "spk3"
							,"n": "劉大川"
							,"j": "TXOne首席解決方案架構師"
						}
						,{
							"s": "spk4"
							,"n": "李育全"
							,"j": "TXOne 業務營運總監"
						}
						,{
							"s": "spk5"
							,"n": "謝續平"
							,"j": "國立陽明交通大學教授"
						}
						,{
							"s": ""
							,"n": ""
							,"j": "工業局（邀約中）"
						}
						,{
							"s": ""
							,"n": ""
							,"j": "台積電（邀約中）"
						}
						,{
							"s": ""
							,"n": ""
							,"j": "力積電（邀約中）"
						}
						,{
							"s": ""
							,"n": "Bright Wu"
							,"j": "台灣韋萊韜悅資深協理"
						}
					]
			section.sc_speaker(id= secAr[2][0])
				.container.main_sc
					.sc_title#aos4(data-aos="fade-up", data-aos-duration="800")
						.tit= secAr[2][1]
					.spk_cnt
						.items
							each x,i in spkAr
								if x.s != ""
									.spk_item
										.wrap(data-aos="fade-up", data-aos-duration="800", data-aos-delay=""+(200*(i+1)), data-aos-anchor="#aos4")
											.pic
												img.img-fluid(src=`img/spk/${x.s}.jpg`)
											.word
												.n= x.n
												.j= x.j
								else 
									.spk_item
										.wrap(data-aos="fade-up", data-aos-duration="800", data-aos-delay=""+(200*(i+1)), data-aos-anchor="#aos4")
											.pic
												img.img-fluid(src=`img/ui/mic.png`)
											.word
												.n= x.n
												.j= x.j

			section.sc_gift
				.container.main_sc
					.sc_title
						.tit 活動好禮
					//- .gift_cnt(data-aos="fade-up", data-aos-duration="800", data-aos-delay="1600", data-aos-anchor="#aos2")
						.pic
							img(src="img/cafe_slim.jpg")
						.word
							.tit 早鳥禮
							.text
								.d-inline-block
									span 當天報到
									strong.stg1 前70名
									span ，
								.d-inline-block
									span 即可獲得
									strong.stg2 CITY CAFE 咖啡提貨券(55名)
									
								.d-inline-block
									span 或由 NXP 提供的
									strong.stg3 電腦包(15名)
						.pic
							img(src="img/gift.jpg")

			//- section.sc_company(id= secAr[2][0])
				.container.main_sc
					.sc_title
						.tit= secAr[2][1]
					.cpy_cnt
						.items(data-aos="fade-up", data-aos-duration="800" data-aos-delay="600", data-aos-anchor="#aos4")
							.cpy_item
								a(href="http://www.anokiwave.com/" target="_blank")
									img.img-fluid(src="img/Anokiwave.png")
							.cpy_item
								a(href="https://www.nxp.com/" target="_blank")
									img.img-fluid(src="img/nxp.png")
							.cpy_item
								a(href="http://www.semi-comm.com" target="_blank")
									img.img-fluid(src="img/Semicomm.png")
							.cpy_item
								a(href="http://www.yttek.com.tw" target="_blank")
									img.img-fluid(src="img/yttek.png")

		.g_footer
			.container
				

		mixin tpcModal(id)
			if id=="agd1"
				p The 5G NR market is growing rapidly in many regions where network operators are using combined low-band, mid-band and mmW spectrum to provide 5G enhanced mobile broadband (eMBB) services and fixed wireless access (FWA).  As pointed by Grand View Research “The value of 5G services in 2020 was measured at $41.48 billion, a figure which is forecast to grow at a compound annual growth rate of 46.2% between 2021 and 2028.” Among 3 major 5G frequency bands, mmW is viewed as a critical step toward delivering full 5G’s potential and enable Gbps download speed with very low latency. Commercial mmW 5G networks have already been launched in multiple countries, including the U.S., Japan and South Korea. Other nations such as Italy, Finland and Australia are releasing mmW spectrum for 5G or are about to follow suit. The launch of the mmW Apple iPhone 12 and iPhone 13 series also provide a timely boost to the adoption of mmW. According to GSMA “Operators that underestimate the role of mmWave in the short term run the risk of finding themselves at a disadvantage to competitors when offering 5G services.”  Anokiwave will share the latest the mmw market progress and present the latest product of the company. 

			else if id=="agd2"
				p 隨著Apple iPhone 12系列的熱賣，敲響了28GHz與39GHz雙頻毫米波頻段的爭戰。當新生代5G手機支援這些頻段，同時O-RAN開放式架構的提出與OTIC認證的推動，使得5G毫米波相關產品推出與商品化的時程大幅提前，也帶動了包括台灣廠商在內5G毫米波新的市場商機。
				p 本次針對5G毫米波小型基站在無線接取與前端模組設計，量測與校正上的挑戰進行討論，同時探討廠商在投入5G毫米波相關產品的布局，以及未來在5G毫米波前端模組開發及驗證上所面臨的機會與挑戰。
				p 把5G毫米波化作遊戲介面，在整個城市交通網路上新建高架快速解決問題。了解5G毫米波市場佈局，在精確的時間攻入，取得第一張入場券，不塞車不卡關，搶得市場先機。
				div 【在本場演講裡，將了解到】
				ul.pl-3(style="list-style-type:none")
					li Q1. 對於5G毫米波市場前景的看法? 預期何時市場起飛, 大量商用?
					li Q2. 5G毫米波市場起飛的契機為何? 有哪些新的市場機會?
					li Q3. 對於即將起飛的5G毫米波市場, NXP, Anokiwave 與円通科技各自的佈局為何? 各有何優勢?
			
			else if id=="agd3"
				p 產線計畫的經濟學一直都是獲利中不可忽略的部分，隨著5G NR標準橫跨了  FR1與FR2頻段,伴隨更大的頻寬與更高的頻率，測試方法與儀器設備也隨著標準的變化增加，在市場競爭下，高性價比與高度彈性配置的測試方案，將會是有效降低製造成本的關鍵
				div 這次主題討論我們將討論
				ul
					li 5G NR FR1/FR2測試方案
					li 5G FR2 量產型CATR 天線緊縮場
					li 5G NR FR1/FR2 量產型信令測試方案

			else if id=="agd4"
				p Ready for the rising tide of 5G rollouts, NXP has a set of programmable baseband processors for the 5G access edge. To delivering a programmable baseband for open, intelligent 5G, NXP provides the 5GNR L1 Reference Enablement Package to bring fast time-to-market development environment for the customers. The 5GNR L1 Reference Application (also referred to as RefApp) is meant to provide a starting reference for developing 5G NR L1 software for the Layerscape Access SoCs. The purpose of the RefApp is first and foremost to show how this functionality is achieved and open the path towards including this functionality in a real product. In this session, NXP will present the most recent development with Anokiwave RF technology in serving 5G-NR FR2 mmWave use cases. Key functions to be introduced in the session including:
				ol
					li L1T toolkit
					li DPDK fronthaul support with compression/decompress support
					li FreeRTOS new L1 refAPP TDD support
					li Synchronization, frame alignment and VCXO correction

		mixin spkModal(id)
			if id=="agd1"
				p 張肇強目前擔任Anokiwave 亞太業務行銷總監。在通訊、光通訊半導體業界擁有多年產業經驗，其中涵蓋無線及有線通信射頻收發元件、光通訊元件、網路通訊等。
				p 加入Anokiwave之前，張肇強曾於美商MA/Com、穩懋半導體服務。
				p 張肇強目前在Anokiwave專注於5G 毫米波FR2、衛星通訊、射頻雷達等相關產品的市場推廣。

			else if id=="agd2"
				p 目前任職於円通科技股份有限公司，作為公司總經理兼任研發技術長，將5G技術商用化，針對毫米波5G通訊開發痛點設計出輕便型量測儀器，易攜帶、易調整，在開發過程的第一時間量測出設計結果。保有不間斷的熱情，引領公司不斷的挑戰通訊界新一代技術
				p 曾任職於工研院資通所新興無線應用技術組，擔任技術副組長的職務,兼M300部門經理。同時擔任經濟部技術處5G科發計畫 ”高頻段接取技術”與”5G mmWave超高頻通訊系統技術”計畫的計畫主持人。
				p 2008年至2013年擔任”核心技術開發部門”部長之職務, 主要帶領部門同仁進行先進數位IP之開發, 包括: ARM compatible RISC CPU, USB 1.1/2.0/3.0 device/host controller, OTG 2.0/3.0 controller, PCI-Express 2.0/3.0 4-port device controller, SATA 3G/6G device/host controller, MIPI DSI device/host controller, MIPI CSI-2 TX/RX controller, DDR 2.0/3.0/4.0 controller, NAND flash controller
				p 2004年至2008年則是擔任兩個無線收發機晶片設計開發計畫的計畫主持人; 分別是Wireless LAN 802.11b/a/g 及OFDM UWB, 除了計畫管理之外, 並且負責設計規格制定, transceiver IC架構設計, 演算法設計及RTL 電路實現
				p 2004年至2013年係任職於智原科技，技術部長
				p 1990年與1992年畢業於國立交通大學電子工程學系與電子研究所, 主要WLAN、Bluetooth與OFDM UWB等無線通訊系統研發與數位IC設計、包括系統設計規格制定，系統架構設計、演算法設計、與收發機之實現

			else if id=="agd3"
				p Wireless Communication division director of SemiComm Technology. 
				p 19 years sales marketing experience in wireless communication Test & Measurement industries. Worked at Rohde & Schwarz Taiwan, Chroma ATE - ADIVIC Technology ,and EMSCAN Canada 
				div Technology Experience 
				ul
					li Mission Critical application
					li 5G NR Sub 6 and mmWave 
					li Wireless communication
					li Very Near-Field Measurement Technology 
					li Antenna measurement 
					li Digital TV technology 
					li GNSS navigation system

			else if id=="agd4"
				p 張嘉恆目前擔任恩智浦半導體產品及全球市場經理。身為多核通訊處理器產品線的成員，張嘉恆擁有超過15年的半導體產業經驗，其中涵蓋無線及有線通信設備、數據中心及企業級網路通訊，以及工業網絡等應用場景。
				p 加入恩智浦之前，張嘉恆曾於飛思卡爾半導體及摩托羅拉半導體部門服務。負責處理器平台技術支持、架構設計、產品推廣等相關工作。
				p 張嘉恆目前在恩智浦半導體專注於包括5G通訊系統、邊緣計算設備（Edge Computing）、 軟體定義設備解決方案 (Software Defined - WAN)、以及數據中心雲邊緣 (Cloud Edge) 等相關產品的全球市場推廣。


		.ag_modals
			each x in spkAr
				if x.id
					.ag_modal.modal.fade(id=x.id, tabindex='-1' role='dialog' aria-labelledby='SpeakerTitle' aria-hidden='true')
						.modal-dialog.modal-lg.modal-dialog-centered(role='document')
							.modal-content
								.modal-header
									.h5.m-0= x.tpc
									button.close(type='button' data-dismiss='modal' aria-label='Close')
										span(aria-hidden='true') ×
								.modal-body
									+tpcModal(x.id)


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js")
		script.
			AOS.init({
				once: true
			});

			$(function(){

				let scrollVal = $(this).scrollTop();

				let checkScroll = ()=>{
					if(scrollVal>$(window).height()) {
						$('.fix_aside').addClass('is_active');
						$('.fix_top').addClass('is_active');
					}else{
						$('.fix_aside').removeClass('is_active');
						$('.fix_top').removeClass('is_active');
					}
				};

				checkScroll();

				$(window).scroll(()=>{
					scrollVal = $(this).scrollTop()
					checkScroll();
				})

				var $scrollTopNow = 0,
					$body = $("html, body");

				function bScroll(tarTop, aniDuration) {
					$body.animate({
						scrollTop: tarTop
					}, aniDuration);
				}

				$('.menu_btn').click(function(){
					$('.nav_area').toggle();
				})
	
				$('.js_page_scroll').on('click', function(e) {
					
					$scrollTopNow = $('html, body').scrollTop();
			
					var $tar = $(this),
						$tarTop = $($tar.attr('href')).offset().top-20,
						$aniDuration = Math.abs($tarTop-$scrollTopNow)*.6 > 1200 ? 1200 : (Math.abs($tarTop-$scrollTopNow)*.6);
			
					bScroll($tarTop, $aniDuration);
			
					e.preventDefault();

					if($(window).width()<=768){
						$('.nav_area').hide();
						console.log($tarTop, $aniDuration)
					}
				});

				$('.js_scroll_top').on('click', ()=>{
					bScroll(0, 800);
				});

				//- setInterval(function() {  // 設置倒數計時: 結束時間 - 當前時間

				//- 	// 當前時間
				//- 	var time = new Date();
				//- 	var nowTime = time.getTime(); // 獲取當前毫秒數
				//- 	// 設置結束時間 : 5月13號 15點0分0秒
				//- 	time.setMonth(10); //   獲取當前 月份 (從 '0' 開始算)
				//- 	time.setDate(23); //   獲取當前 日
				//- 	time.setHours(16); //   獲取當前 時
				//- 	time.setMinutes(0); //   獲取當前 分
				//- 	time.setSeconds(0);
				//- 	var endTime = time.getTime();

				//- 	// 倒數計時: 差值
				//- 	var offsetTime = (endTime - nowTime) / 1000; // ** 以秒為單位
				//- 	var sec = parseInt(offsetTime % 60); // 秒
				//- 	var min = parseInt((offsetTime / 60) % 60); // 分 ex: 90秒
				//- 	var hr = parseInt((offsetTime / 60 / 60) % 24); // 時
				//- 	var day = parseInt(offsetTime / 24 / 60 / 60); // 時

				//- 	if(sec<10) {
				//- 		sec = "0"+sec;
				//- 	}
				//- 	//- console.log(day, hr, min, sec);
				//- 	$('.tb.d span').text(day);
				//- 	$('.tb.h span').text(hr);
				//- 	$('.tb.m span').text(min);
				//- 	$('.tb.s span').text(sec);
				//- 	//- aI[0].textContent = hr + "時";
				//- 	//- aI[1].textContent = min + "分";
				//- 	//- aI[2].textContent = sec + "秒";

				//- }, 1000);

			})