doctype html
html(lang="zh-Hant-TW")
	-
		const varOj = {
				"title": "製造業決勝海外新契機 — B2B行銷拓展市場大攻略",
				"name": "TTD_20220818",
				"sign": "https://www.digitimes.com.tw/OnLine/DataInput.asp?ProdGroup=053AB0818-0",
				"sign2": "https://www.digitimes.com.tw/OnLine/query.asp?ProdGroup=053AB0818-0"
			},
			secAr = [
				["active", "活動介紹"],
				["agenda", "議程內容"],
				["speaker", "講師陣容"],
				["position", "交通資訊"]
			]

	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(property="og:title", content= varOj.title)
		meta(property="og:type", content="article")
		meta(property="og:url", content= "https://www.digitimes.com.tw/seminar/"+varOj.name+"/")
		meta(property="og:image", content= "https://www.digitimes.com.tw/seminar/"+varOj.name+"/img/d_kv.png")
		meta(property="og:site_name", content="DIGITIMES")
		meta(property="og:description", content="當B2B製造業者欲由「硬體製造商」升級為「解決方案提供商」，如何創造品牌附加價值，擬訂可落地的市場行銷策略，即成為轉型成功的關鍵。立即報名參加8月18日「製造業決勝海外新契機 — B2B行銷拓展市場大攻略」，助您重塑品牌價值，開創新興市場大商機！")
		//[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]
		
		title= varOj.title

		//- link(rel="shortcut icon", href="favicon.ico")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
		- const d = new Date(), _date = ""+(d.getMonth()+1)+d.getDate()+d.getHours()+d.getMinutes();

		link(rel='stylesheet' href='style.css?v='+_date)

		// Google Analytics
		// script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7422658-6']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		
		.g_fixed.fix_aside
			a.fx_item.is_primary(href=varOj.sign, target="_blank")
				.in_wrap.txt
					span 立即報名
			.fx_item.js_scroll_top
				.in_wrap.ic_top
					.ic

		.g_header.sticky-top
			.header_wrap
				.menu_trigger.d-lg-none
					button.menu_btn
						span.icon(class="navbar-toggler-icon")

				.nav_area
					.nav_cnt
						each a in secAr
							.nav_item
								a.nav_link.js_page_scroll(href=`#${a[0]}`)= a[1]
						.nav_item
							a.nav_link(href=varOj.sign, target="_blank") 立即報名
						.nav_item
							a.nav_link(href=varOj.sign2, target="_blank") 報名查詢

		.g_kv
			.desktop.d-none.d-lg-block
				.bg
				.logo
					.l1#aos1(data-aos="fade-up" data-aos-duration="600")
						img.img-fluid(src="img/cpy/ttd.png")
					.l2(data-aos="fade-up" data-aos-duration="600" data-aos-delay="200")
						img.img-fluid(src="img/cpy/digitimes.png")
					.l3(data-aos="fade-up" data-aos-duration="600" data-aos-delay="400")
						img.img-fluid(src="img/cpy/accessus.png")
				.content
					.t1(data-aos="fade-up" data-aos-duration="800" data-aos-delay="800")
						img.img-fluid(src="img/kvt1.png")
					.t2(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1100")
						img.img-fluid(src="img/kvt2.png")
					.date(data-aos="fade-up" data-aos-duration="800" data-aos-delay="1400")
						img.img-fluid(src="img/kvt3.png")
			
			.mobile.d-lg-none
				img.img-fluid(src="img/mkv.png")

		

		.g_main
			section.sc_intro(id= secAr[0][0])
				.container
					.intr_cnt
						p#aos2(data-aos="fade-up", data-aos-duration="800")
							|始自PC時代，直到現今的AIoT與資料經濟時代，台灣產業隨一波波科技浪潮而壯大。乘上每一波轉型浪尖的企業，即可奪得市場商機，避免「掉隊」危機。

						p(data-aos="fade-up", data-aos-duration="800", data-aos-delay="400", data-aos-anchor="#aos2") 
							|如今，產業轉型對於B2B企業是當務之急，對於製造業來說尤為重要。當製造業者欲擺脫代工標籤，由「硬體製造商」升級為「解決方案提供商」，如何
							b 創造品牌附加價值，擬訂可落地的市場行銷策略
							|，即成為製造業轉型成功的關鍵。

						p(data-aos="fade-up", data-aos-duration="800", data-aos-delay="800", data-aos-anchor="#aos2") 
							|有鑑於此，DIGITIMES偕同全球廣告科技領導廠商The Trade Desk，以及B2B行銷專家正平(AccessUs)，欲透過此研討會與台灣B2B製造業分享，如何在瞬息萬變的國際市場中，以硬體技術優勢為基底，加乘「品牌營運力」及「B2B策略行銷攻略」，為品牌重新定位，開創新興市場大商機！

					.cta_wrap(data-aos="fade-up", data-aos-duration="800", data-aos-delay="1200", data-aos-anchor="#aos2")
						a.primary_cta(href=varOj.sign, target="_blank")
							div
								span 立即報名
								img(src="img/ui/right.svg")

			-
				const spkAr = {
					"Eric": {
						"s": "Eric"
						,"n": "黃逸平 Eric Huang"
						,"j": "事業發展中心副總經理"
						,"c": "DIGITIMES"
					}
					,"Chris": {
						"s": "Chris"
						,"n": "顏任廷 Chris Ngan"
						,"j": "香港與台灣總經理"
						,"c": "The Trade Desk"
					}
					,"Vera": {
						"s": "Vera"
						,"n": "曹淑娟 Vera Tsao"
						,"j": "總經理"
						,"c": "正平整合行銷"
					}
					,"Ralph": {
						"s": "Ralph"
						,"n": "吳俊葳 Ralph Wu"
						,"j": "副總監"
						,"c": "正平整合行銷"
					}
					,"spk5": {
						"s": ""
						,"n": ""
						,"j": ""
						,"c": "Mouser貿澤電子"
					}
					,"spk6": {
						"s": ""
						,"n": ""
						,"j": ""
						,"c": "ViewSonic 優派台灣"
					}
				}
				const agdAr = [
					{
						"t": "14:00-14:05"
						,"tpc": "開場致詞"
					}
					,{
						"t": "14:05-14:30"
						,"tpc": "製造業決勝海外 營運模式轉型下的新思維"
						,"spk": [spkAr.Eric]
					}
					,{
						"t": "14:30-14:55"
						,"tpc": "2B產業如何透過品牌營運，奪得新興市場商機？"
						,"spk": [spkAr.Chris]
					}
					,{
						"t": "14:55-15:20"
						,"tpc": "採取資產生命週期安全框架進行SEMI E187標準導入"
						,"spk": [spkAr.Vera, spkAr.Ralph]
					}
					,{
						"t": "15:20-15:40"
						,"tpc": "茶敘交流 Tea Break"
					}
					,{
						"t": "15:40-16:10"
						,"tpc": "整合線上線下程序化廣告 投放策略與實踐"
						,"spk": [spkAr.spk5, spkAr.spk6]
					}
					,{
						"t": "16:10-16:45"
						,"mark": "專家對談"
						,"tpc": "台灣品牌決勝海外的機遇與戰略"
						,"spk": [spkAr.Eric, spkAr.Chris, spkAr.Vera, spkAr.Ralph]
					}
				]
				
			section.sc_agenda(id= secAr[1][0])
				.patten
				.container.main_sc
					.sc_title#aos3(data-aos="fade-up", data-aos-duration="800")
						.tit= secAr[1][1]
					.agd_cnt
						.ag_table(data-aos="fade-up", data-aos-duration="800" data-aos-delay="600", data-aos-anchor="#aos3")
							each x,i in agdAr
								if x.spk 
									.tr
										.td.td_time
											.time= x.t
										.td.td_topic
											.tpc= x.tpc
										.td.td_speaker
											each y in x.spk
												.spk
													.n= y.n
													.j= y.j
													.c= y.c
								else
									.tr.tr_soft
										.td.td_time
											.time= x.t
										.td.td_topic
											.tpc= x.tpc
				
			section.sc_speaker.pattenbg(id= secAr[2][0])
				.container.main_sc
					.sc_title#aos4(data-aos="fade-up", data-aos-duration="800")
						.tit= secAr[2][1]
					.spk_cnt
						.items
							each x in spkAr
								if x.s != ""
									.spk_item
										.wrap(data-aos="fade-up", data-aos-duration="800", data-aos-delay=""+(400), data-aos-anchor="#aos4")
											.cic
											.pic
												img.img-fluid(src=`img/spk/${x.s}.jpg`)
											.word
												.n= x.n
												.j= x.j
												.c= x.c
								
			//- section.sc_gift
				.container.main_sc
					.sc_title#aos5(data-aos="fade-up", data-aos-duration="800")
						.tit 活動好禮
					.gift_cnt
						.gift_item(data-aos="fade-up", data-aos-duration="800", data-aos-delay="400", data-aos-anchor="#aos5")
							.pic
								img(src="img/card.png")
							.tit 上線問卷禮
							.word
								.name
									.n1
										.d-inline-block 7-ELEVEN
										.d-inline-block 電子商品卡 200元
									.n2 （前100名）
								.way 全程觀看線上研討會，並完整填寫問卷者，即可獲得上線問卷禮。
						
			section.sc_position(id= secAr[3][0])
				//- .sc_title
					.tit= secAr[3][1]
				.pos_cnt.d-block.d-lg-flex
					.map
						.wrap
							.
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.800461982695!2d121.56337131597196!3d25.040844844168753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aba4b2822781%3A0xfba2ec4c0c7ca966!2z5Y-w5YyXV-mjr-W6lw!5e0!3m2!1szh-TW!2stw!4v1657788476857!5m2!1szh-TW!2stw" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					.wording
						.tit 活動位置
						.pos 台北W飯店 8F 綺麗廳
						.addr 台北市信義區忠孝東路五段10號
					.timer
						.tit 活動時間
						.wrap
							.tb.d
								span 00
							.tb.h
								span 00
							.tb.m
								span 00
							.tb.s
								span 00

			section.sc_company
				.container.main_sc
					.sc_title
						.tit 注意事項
					.detail(data-aos="fade-up", data-aos-duration="800")
						ul
							li 本活動免費參加，採事前『報名制』，報名截止日為8月16日(二)。主辦單位得視報名狀況提前或延後報名時間，請務必留下完整正確聯絡資訊，勿偽造他人身份資料進行報名以免觸犯法律。
							li 本活動將由主辦單位進行出席資格審核，與主題及屬性符合者為優先考量。
							li 通過審核者，系統將於活動前一天以電子郵件方式寄發含有報到編號/QR Code的「報到通知」至您的電子信箱，以示您的出席資格；未通過審核者，亦會收到一封婉拒通知信。若您未收到任何通知信件，請至網站查詢報名狀況。
							li 活動當日，請攜帶含有報到編號/QR Code的「報到通知」至活動現場完成報到手續。
							li 因應新冠肺炎防疫情勢，與會來賓入場時皆需測量體溫，超過37.5度者，恕無法入場，也請您務必配戴口罩出席與會，遵守呼吸道衛生及咳嗽禮節。
							li 若因不可預測之突發因素，主辦單位得保留研討會議程及講師之變更權利。
							li 活動諮詢聯絡窗口：DIGITIMES活動小組，電話：02-87128866#353，E-mail：<a href="mailto:seminar@digitimes.com">seminar@digitimes.com</a>

		.g_footer
			.container
				.cpy_cnt.d-block.d-lg-flex(data-aos="fade-up", data-aos-duration="800")
					.cpy_item
						.t 主辦單位
						.p
							img(src="img/cpy/ttd.png" alt="The Trade Desk")
							img(src="img/cpy/digitimes.png" alt="DIGITIMES")
					.cpy_item
						.t 協辦單位
						.p
							img(src="img/cpy/accessus.png" alt="ACCESSUS")

		//- mixin tpcModal(id)

		//- mixin spkModal(id)

		//- .ag_modals
			each x in spkAr
				if x.id
					.ag_modal.modal.fade(id=x.id, tabindex='-1' role='dialog' aria-labelledby='SpeakerTitle' aria-hidden='true')
						.modal-dialog.modal-lg.modal-dialog-centered(role='document')
							.modal-content
								.modal-header
									.h5.m-0= x.tpc
									button.close(type='button' data-dismiss='modal' aria-label='Close')
										span(aria-hidden='true') ×
								.modal-body
									+tpcModal(x.id)


		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js")
		script.
			AOS.init({
				once: true
			});

			$(function(){

				let scrollVal = $(this).scrollTop();

				let checkScroll = ()=>{
					if(scrollVal>$(window).height()) {
						$('.fix_aside').addClass('is_active');
						$('.fix_top').addClass('is_active');
					}else{
						$('.fix_aside').removeClass('is_active');
						$('.fix_top').removeClass('is_active');
					}
				};

				checkScroll();

				$(window).scroll(()=>{
					scrollVal = $(this).scrollTop()
					checkScroll();
				})

				var $scrollTopNow = 0,
					$body = $("html, body");

				function bScroll(tarTop, aniDuration) {
					$body.animate({
						scrollTop: tarTop
					}, aniDuration);
				}

				$('.menu_btn').click(function(){
					$('.nav_area').toggle();
				})
	
				$('.js_page_scroll').on('click', function(e) {
					
					$scrollTopNow = $('html, body').scrollTop();
			
					var $tar = $(this),
						$tarTop = $($tar.attr('href')).offset().top-20,
						$aniDuration = Math.abs($tarTop-$scrollTopNow)*.6 > 1200 ? 1200 : (Math.abs($tarTop-$scrollTopNow)*.6);
			
					bScroll($tarTop, $aniDuration);
			
					e.preventDefault();

					if($(window).width()<=768){
						$('.nav_area').hide();
						console.log($tarTop, $aniDuration)
					}
				});

				$('.js_scroll_top').on('click', ()=>{
					bScroll(0, 800);
				});

				setInterval(function() {
					// 設置倒數計時: 結束時間 - 當前時間
					// 當前時間
					let nowTime = new Date();
					// 設置結束時間

					//- 方法1
					//- var endTime = new Date();
					//- endTime.setFullYear(2021); // 設定 年，4位數字
					//- endTime.setMonth(11); // 月，陣列索引值 0-11
					//- endTime.setDate(16); // 日，正負整數
					//- endTime.setHours(13); // 時 0-23
					//- endTime.setMinutes(0); // 分
					//- endTime.setSeconds(0); // 秒

					//- 方法2
					//- var endTime2 = new Date(2021,11,16,13,0,0); // 西元年，月(0-11)，日，時，分，秒

					//- 方法3
					var endTime3 = new Date("2022-08-18T14:00:00.000+08:00"); // "西元年-月-日T時:分:秒.毫秒 時區(+/-)"

					// 倒數計時: 差值
					var offsetTime = (endTime3 - nowTime) / 1000; // ** 以秒為單位
					var sec = parseInt(offsetTime % 60); // 秒
					var min = parseInt((offsetTime / 60) % 60); // 分 ex: 90秒
					var hr = parseInt((offsetTime / 60 / 60) % 24); // 時
					var day = parseInt(offsetTime / 24 / 60 / 60); // 時
					if(endTime3 > nowTime) {
						if(sec<10) {
							sec = "0"+sec;
						}
						//- console.log(day, hr, min, sec);
						$('.tb.d span').text(day);
						$('.tb.h span').text(hr);
						$('.tb.m span').text(min);
						$('.tb.s span').text(sec);
					}
				}, 1000);
			})